aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.4.16
hachoir
lyricsgenius
py-tgcalls==0.9.1
wget
python-dotenv
pyyaml==5.3.1
youtube-search-python
youtube_search
git+https://github.com/gsweq11/margin
motor
psutil
requests
rich
dnspython
git+https://github.com/gsweq11/text
tgcrypto
gitpython
heroku3
