aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
hachoir
lyricsgenius
wget
python-dotenv
youtube-search-python
youtube_search
git+https://github.com/gsweq11/margin
motor
psutil
requests
rich
dnspython
git+https://github.com/gsweq11/mix@master
tgcrypto
gitpython
heroku3
